/* PAGE LOADER */

.page-loader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: #151515;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  visibility: visible;
  transition: opacity 1.45s ease, visibility 1s ease;
}

.page-loader.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#loaderFrame {
  width: clamp(90px, 12vw, 220px);
  height: auto;
}